*
{
    box-sizing: border-box;
}
.red-content{
    color:red;
}
.pink-grey{
   
    background-color: rgb(160, 105, 34);
}
.header-img {
    width: 100%;
    height: 400px;
    background: url("images/cinemaseats.jpg");
    background-size: cover;
  }

table {
    font-size: medium;
  }